<div class="header-principal">
    <div class="header-principal-left">
        <a href="/">
        <img class="header-logo" src="/images/logos/logo_bits_and_sound_linear.png" alt="">
        </a>
    </div>
    <div class="header-principal-right">
        <div class="icono-luz">
            <h2 class="h_header"><a href="/cart" title="Carrito de compras"><i class="fa-solid fa-cart-shopping"></i></a>&nbsp;&nbsp;</h2>
        </div>

        <%if (locals.loggedFirstName) { %>
            <div class="icono-luz">
                <h3 class="h_header"><a href="/users/login" title="Perfil del usuario"><%=locals.loggedFirstName%></a>&nbsp;&nbsp;</h3>
            </div>
            <div class="icono-luz">
                <h2 class="h_header"><a href="/users/logout" title="Logout"><i class="fa-solid fa-right-from-bracket"></i></a></h2>
            </div>
            <%} else {%>
                <div class="icono-luz">
                    <h2 class="h_header"><a href="/users/login" title="Login"><i class="fa-solid fa-user"></i></a>&nbsp;&nbsp;</h2>
                </div>
                <div class="icono-luz">
                    <h2 class="h_header"><a href="/users/register" title="Registrarse"><i class="fa-solid fa-user-plus"></i></a></h2>
                </div>
            <%}%>
        <!-- <div>
            <a href="/users/login" class="myButton">Mi cuenta</a></div>
        </div> -->
    </div>
    <div class="header-principal-right-movil">
        <div class="icono-luz">
            <h2 class="h_header"><a href="#" title="Carrito de compras"><i class="fa-solid fa-cart-shopping"></i></a>&nbsp;&nbsp;</h2>
        </div>
        <div class="icono-luz">
            <h2 class="h_header"><a href="#"><i class="fa-solid fa-bars"></i></a></h2>
        </div>
    </div>
</div>