<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="css/styles-albums.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Albums</title>
</head>

<body>
    <article class="album">
        <div class="album-cover">
            <img class="album-imagen" src="images/albums/Funkadelic-Maggot_Brain-1971.webp" alt="">
        </div>
        <div class="album-footer">
            <div class="album-titulo">
                <h4>Funkadelic</h4>
                <h4>Maggot Brain</h4>
                <h5>1971</h5>
            </div>
            <div class="album-icono-mas">
                <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
            </div>
        </div>
    </article>
    <article class="album">
        <div class="album-cover">
            <img class="album-imagen" src="images/albums/Bruce_Springsteen-Born_in_the_USA-1984.webp" alt="">
        </div>
        <div class="album-footer">
            <div class="album-titulo">
                <h4>Bruce Springsteen</h4>
                <h4>Born in the U.S.A.</h4>
                <h5>1984</h5>
            </div>
            <div class="album-icono-mas">
                <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
            </div>
        </div>
    </article>
    <article class="album">
        <div class="album-cover">
            <img class="album-imagen" src="images/albums/David_Bowie-Aladdin_Sane-1973.webp" alt="">
        </div>
        <div class="album-footer">
            <div class="album-titulo">
                <h4>David Bowie</h4>
                <h4>Aladdin Sane</h4>
                <h5>1973</h5>
            </div>
            <div class="album-icono-mas">
                <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
            </div>
        </div>
    </article>
    <article class="album">
        <div class="album-cover">
            <img class="album-imagen" src="images/albums/Fleetwood_Mac-Rumours-1977.webp" alt="">
        </div>
        <div class="album-footer">
            <div class="album-titulo">
                <h4>Fletwood Mac</h4>
                <h4>Rumors</h4>
                <h5>1977</h5>
            </div>
            <div class="album-icono-mas">
                <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
            </div>
        </div>
    </article>
    <article class="album">
        <div class="album-cover">
            <img class="album-imagen" src="images/albums/Grace_Jones-Island_Life-1985.webp" alt="">
        </div>
        <div class="album-footer">
            <div class="album-titulo">
                <h4>Grace Jones</h4>
                <h4>Island Life</h4>
                <h5>1985</h5>
            </div>
            <div class="album-icono-mas">
                <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
            </div>
        </div>
    </article>
    <article class="album">
        <div class="album-cover">
            <img class="album-imagen" src="images/albums/Janet_Jackson-Rhythm_Nation-1814-1989.webp" alt="">
        </div>
        <div class="album-footer">
            <div class="album-titulo">
                <h4>Janet Jackson</h4>
                <h4>Rhythm Nation 1814</h4>
                <h5>1989</h5>
            </div>
            <div class="album-icono-mas">
                <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
            </div>
        </div>
    </article>
    <article class="album">
        <div class="album-cover">
            <img class="album-imagen" src="images/albums/Judas_Priest-British_Steel-1980.webp" alt="">
        </div>
        <div class="album-footer">
            <div class="album-titulo">
                <h4>Judas Priest</h4>
                <h4>British Steel</h4>
                <h5>1980</h5>
            </div>
            <div class="album-icono-mas">
                <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
            </div>
        </div>
    </article>
    <article class="album">
        <div class="album-cover">
            <img class="album-imagen" src="images/albums/Lady_Gaga-The_Fame_Monster-2009.webp" alt="">
        </div>
        <div class="album-footer">
            <div class="album-titulo">
                <h4>Lady Gaga</h4>
                <h4>The Fame Monster</h4>
                <h5>2009</h5>
            </div>
            <div class="album-icono-mas">
                <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
            </div>
        </div>
    </article>
    <article class="album">
        <div class="album-cover">
            <img class="album-imagen" src="images/albums/Madonna-True_Blue-1986.webp" alt="">
        </div>
        <div class="album-footer">
            <div class="album-titulo">
                <h4>Madonna</h4>
                <h4>True Blue</h4>
                <h5>1986</h5>
            </div>
            <div class="album-icono-mas">
                <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
            </div>
        </div>
    </article>
    <article class="album">
        <div class="album-cover">
            <img class="album-imagen" src="images/albums/Nirvana-Nevermind-1991.webp" alt="">
        </div>
        <div class="album-footer">
            <div class="album-titulo">
                <h4>Nirvana</h4>
                <h4>Nevermind</h4>
                <h5>1991</h5>
            </div>
            <div class="album-icono-mas">
                <h1><a href="#"><i class="fa-solid fa-circle-plus"></i></a></h1>
            </div>
        </div>
    </article>
</body>

</html>