<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
     <title>Bits & Sound</title>
</head>


<header>
    <div class="header-principal">
        <div class="header-principal-left">
        <img class="header-logo" src="images/logo_bits_and_sound.png" alt="">
        </div>
        <!-- <div class="header-principal-right"> -->
            <div class="album-icono-mas">
            <h1><a href="#"><i class="fa-solid fa-cart-plus"></i></a></h1>
        </div>
    </div>
</header>


<body>
    <main>
        <section class="content">
            <div class="happy-box">
            <div class="capsule"><a href="/Views/music-tracks.html"><img class="home-imgs"
                        src="/images/asset_img_tracks.jpg" width="50vw" alt="Mix"></div></a>
            <div class="capsule"><a href="/Views/music_products.html"><img class="home-imgs"
                        src="/images/asset_img_mprod.jpg" width="50vw" alt="Music Products"></a></div>
                    </div>
        </section>
    </main>
    <footer></footer>
</body>

</html>