

.albums-main-container {
    width: 100%;
    align-content: center;
    text-align: center;
    position: relative;
    padding-top: 150px; 
    z-index: 1;
} 

.album {
    border: solid 1px black;
    border-radius: 3%;
    background-image: linear-gradient(var(--naranja), var(--negro));
    position: relative;
    display: inline-block;
    block-size: auto;
    font-size: 1rem;
    padding: 5px;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.84);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.84);
    transition: all 300ms;
}


.album-details {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.album:hover .album-details {
    opacity: 1;
}


.album:hover {
    -webkit-box-shadow: 0px 0px 17px 1px rgba(255, 232, 138, 1);
    -moz-box-shadow: 0px 0px 17px 1px rgba(255, 232, 138, 1);
    box-shadow: 0px 0px 17px 1px rgba(255, 232, 138, 1);
}


.album-imagen {
    width: 140px;
    padding-bottom: 3px;
    border-radius: 2%;
}

.album-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding-left: 2px;
    padding-bottom: 2px;

}

.album-titulo {
    color: var(--amarillo);
    font-size: 0.7rem;
}


.album-botones {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end; 
}

.album-icono-mas {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; 
    padding-right: 4px;

    background: -webkit-linear-gradient(var(--amarillo), var(--naranja));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    transition: all 200ms;
}

.album-icono-mas:hover {
    text-shadow: var(--amarillo) 1px 0 20px;
}

.album-icono-mas:active {
	position:relative;
	top:1px;
}


@media (min-width: 410px) {
.album-imagen{
    width: 200px;
}
.album-titulo {
    font-size: 0.85rem;
}
.header-logo {
    max-width: 190px;
}

}

@media (min-width: 610px) {
    .header-principal-right-movil{
        display: none;
    }
    .header-principal-right{
        display:flex;
    }
    .header-logo {
        max-width: 250px;
    }
    .footer-principal{
        display: flex;
    }
    .footer-principal-movil{
        display: none;
    }
    .album-imagen {
        width: 300px;
    }
    .album-titulo {
        font-size: 1rem;
    }
    
}