<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles_lg.css">
    <link rel="stylesheet" href="/css/styles-home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Iniciar sesión</title>
</head>

<body>
    <header>
        <%- include('header') %> 
    </header>

    <main class="main-body">
        <section class="albums-main-container">
            <article class="album">
                <div class="album-cover">
                    <a href="/pistas"><img class="album-imagen" src="/images/asset_img_tracks.jpg" alt=""></a>
                </div>
            </article>
            <article class="album">
                <div class="album-cover">
                    <a href="/albums"><img class="album-imagen" src="/images/asset_img_mprod.jpg" alt=""></a>
                </div>
            </article>
        </section>
    </main>

    <footer class="footer-main">
        <%- include('footer') %>
    </footer>

</body>

</html>