<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles_lg.css">
    <link rel="stylesheet" href="/css/styles-albums.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Iniciar sesión</title>
</head>

<body>
    <header>
        <div class="header-principal">
            <div class="header-principal-left">
                <img class="header-logo" src="images/logo_bits_and_sound_linear.png" alt="">
            </div>
            <div class="header-principal-right">
                <div class="icono-luz">
                    <h1><a href="#"><i class="fa-solid fa-cart-shopping"></i></a>&nbsp;&nbsp;</h1>
                </div>
                <div><a href="#" class="myButton">Mi cuenta</a></div>
            </div>
            <div class="header-principal-right-movil">
                <div class="icono-luz">
                    <h2><a href="#"><i class="fa-solid fa-cart-shopping"></i></a>&nbsp;&nbsp;</h2>
                </div>
                <div class="icono-luz">
                    <h2><a href="#"><i class="fa-solid fa-bars"></i></a></h2>
                </div>
            </div>
        </div>
    </header>

    <main class="login-main">
        <div class="login-cuadro">
            <div class="login-cuadro-cuadro">
                <form action="/" class="login-form">
                    <div class="login-form-field">
                        <label>Nombre de usuario:</label>
                        <input type="text" name="user-name" placeholder="User123">
                    </div>
                    <div class="login-form-field">
                        <label>Contraseña:</label>
                        <input type="password" name="password">
                    </div>
                    <div class="login-form-button">
                        <input class="login-submit-button" type="submit" value="Enviar" action="/home.html">
                    </div>
                </form>
            </div>
        </div>

    </main>
    <footer class="footer-fixed">
        <div class="footer-principal-movil">
            <div class="footer-principal-left">
                <div class="album-icono-mas"><a href="#">
                        <h2><i class="fa-brands fa-square-instagram"></i>&nbsp;&nbsp;</h2>
                    </a></div>
                <div class="album-icono-mas"><a href="#">
                        <h2><i class="fa-brands fa-square-facebook"></i>&nbsp;&nbsp;</h2>
                    </a></div>
                <div class="album-icono-mas"><a href="#">
                        <h2><i class="fa-brands fa-square-twitter"></i>&nbsp;&nbsp;</h2>
                    </a></div>
                <div class="album-icono-mas">
                    <a href="#">
                        <h2><i class="fa-solid fa-square-envelope"></i>&nbsp;&nbsp;</h2>
                    </a>
                </div>
                <div class="album-icono-mas">
                    <a href="#">
                        <h2><i class="fa-solid fa-square-phone"></i></h2>
                    </a>
                </div>
            </div>
            <div class="footer-principal-right">
            
                <div>
                    <h4>&#169; 2023 B&S</h4>
                </div>
            </div>
        </div>
        <div class="footer-principal">
            <div class="footer-principal-left">
                <div>
                    <h3>&#169; 2023 BITS & SOUND &nbsp;&nbsp;&nbsp;</h3>
                </div>
                <div class="album-icono-mas"><a href="#">
                        <h1><i class="fa-brands fa-square-instagram"></i>&nbsp;&nbsp;</h1>
                    </a></div>
                <div class="album-icono-mas"><a href="#">
                        <h1><i class="fa-brands fa-square-facebook"></i>&nbsp;&nbsp;</h1>
                    </a></div>
                <div class="album-icono-mas"><a href="#">
                        <h1><i class="fa-brands fa-square-twitter"></i>&nbsp;&nbsp;</h1>
                    </a></div>
            </div>
            <div class="footer-principal-right">
                <div class="album-icono-mas"><a href="#">
                        <h1><i class="fa-solid fa-square-envelope"></i>&nbsp;&nbsp;</h1>
                    </a></div>
                <div class="album-icono-mas"><a href="#">
                        <h1><i class="fa-solid fa-square-phone"></i></h1>
                    </a></div>
            </div>
        </div>
    </footer>
    <!-- <footer>
        <section class="footer-content">
            <div class="footer-wrap">
                <i class="fa-solid fa-credit-card footer-icon"></i>
                <p class="footer-title"><strong>Pagá con tarjeta o en efectivo</strong></p>
                <p class="footer-description">!LLeva la musica a tu manera y crea tu propia musica!
                </p>
            </div>

        </section>


    </footer>
 -->
</body>

</html>