<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-root.css">
    <link rel="stylesheet" href="/css/styles-header-footer.css">
    <link rel="stylesheet" href="/css/styles-login-register.css">
    <link rel="stylesheet" href="/css/styles-profile.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Logout</title>
</head>

<body>
    <header>
        <%- include('header') %>
    </header>

    <main class="profile-main">
        <div class="profile-frame">
            <div class="logout-frame-frame">
                <h2>Sesión cerrada</h2>
                <br>
                <div class="button-home-logout">
                    <button class="myButton" onclick="location.href='/'">Home</button>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer-main">
        <%- include('footer') %>
    </footer>
</body>

</html>