<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-root.css">
    <link rel="stylesheet" href="/css/styles-header-footer.css">
    <link rel="stylesheet" href="/css/styles-login-register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Creación de Producto</title>
</head>


<body>
    <header>
        <%- include('header') %>
    </header>

    <main class="register-main">
        <div class="reg-frame">
            <div class="reg-frame-frame">
                <form action="/albums" class="reg-form" method="post" enctype="multipart/form-data">
                    <div class="reg-form-field">
                        <label class="title-register" for="r_title">Título</label>
                        <input class="subcontrol-register-form" type="text" name="title" id="r_title" placeholder="Título" required>
                    </div>
                    <div class="reg-form-field">
                        <label class="title-register" for="f_artist">Artista</label>
                        <input class="subcontrol-register-form" type="text" name="artist" id="f_artist" placeholder="Artista"
                            required>
                    </div>
                    <div class="reg-form-field">
                        <label class="title-register" for="f_genre">Género musical</label>
                        <input class="subcontrol-register-form" type="text" name="genre" id="f_genre" placeholder="Género musical"
                            required>
                    </div>
                    <div class="reg-form-field">
                        <label class="title-register" for="f_year">Año</label>
                        <input class="subcontrol-register-form" type="number" name="year" id="f_year" placeholder="Año" required>
                    </div>
                    <div class="reg-form-field">
                        <label class="title-register" for="f_price">Precio</label>
                        <input class="subcontrol-register-form" type="number" name="price" id="f_price" placeholder="1000" required>
                    </div>
                    <div class="reg-profile-form-field">
                        <label class="title-register"></label>
                        <div class="user-category">
                            <label><input class="subcontrol-register-form" type="radio" name="type" value="Album" required>Album</label>
                            <label><input class="subcontrol-register-form" type="radio" name="type" value="Track" required>Track</label>
                        </div>
                    </div>
                    <div class="reg-form-field">
                        <label class="title-register">Archivo de imagen</label>
                        <!-- El input de FILE tiene que tener NAME coincidente con el que se puso en
                        el ROUTER (upload.single('productImage')), si no no anda -->
                        <input class="subcontrol-register-form" type="file" name="productImage"
                            placeholder="Imagen del álbum / artista" required>
                    </div>
                    <br>
                    <div class="button-send-reset-register">
                        <input class="reg-reset-button" type="reset" value="Borrar">
                        &nbsp;&nbsp;&nbsp;
                        <input class="reg-submit-button" type="submit" value="Enviar">
                    </div>
                </form>
            </div>
        </div>

    </main>

    <footer class="footer-main">
        <%- include('footer') %>
    </footer>
</body>
</html>